* {
  padding: 0%;
  margin: 0%;
}
.main-frame {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  padding: 10px;
  border: 3px solid black;
  min-width: 50vw;
  height: 60vh;
  font-size: 1.1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
p {
  display: flex;
  flex-direction: column;
  margin: 5px;
}
.btn {
  /* align-items: center; */
  margin-top: 1.5rem;
  /* justify-content: center; */
}
h3 {
  text-align: center;
}
select,
input {
  width: 20vw;
  height: 2rem;
}
