<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/style.css')}}"
    />
    <title>Document</title>
  </head>
  <body>
    <header>
      <h1 style="text-align: center">
        Welcome to Student Performance Analyzer
      </h1>
    </header>
    <main class="main-frame">
      <form action="{{url_for('index')}}" method="post">
        <p>
          <label for="gender">Gender: </label>
          <select name="gender" id="gender" required>
            <option selected disabled value="">Select the Gender</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
        </p>
        <p>
          <label for="race">Race Ethinicity: </label>
          <select name="race" id="race" required>
            <option selected disabled value="">Select the Race</option>
            <option value="group A">Group A</option>
            <option value="group B">Group B</option>
            <option value="group C">Group C</option>
            <option value="group D">Group D</option>
            <option value="group E">Group E</option>
          </select>
        </p>
        <p>
          <label for="parent_education">Parent Education: </label>
          <select name="parent_education" id="parent_education" required>
            <option selected disabled value="">
              Select the Parent Education
            </option>
            <option value="some college">Some College</option>
            <option value="associate's degree">Associate Degree</option>
            <option value="high school">High School</option>
            <option value="some high school">Some High School</option>
            <option value="bachelor's degree">Bachelor Degree</option>
            <option value="master's degree">Master Degree</option>
          </select>
        </p>
        <p>
          <label for="lunch">Lunch: </label>
          <select name="lunch" id="lunch" required>
            <option selected disabled value="">Select the Lunch</option>
            <option value="standard">Standard</option>
            <option value="free/reduced">Free or Reduced</option>
          </select>
        </p>
        <p>
          <label for="test_course">Test Prepration Course: </label>
          <select name="test_course" id="test_course" required>
            <option selected disabled value="">Select the Test Course</option>
            <option value="completed">Completed</option>
            <option value="none">Not Completed</option>
          </select>
        </p>
        <p>
          <label for="writing_score">Writing Score: </label>
          <input
            type="number"
            name="writing_score"
            id="writing_score"
            placeholder="Enter your Writing Score"
            min="0"
            max="100"
          />
        </p>
        <p>
          <label for="reading_score">Reading Score: </label>
          <input
            type="number"
            name="reading_score"
            id="reading_score"
            placeholder="Enter your Reading Score"
            min="0"
            max="100"
          />
        </p>
        <p class="btn">
          <input type="submit" value="Predict your Math Score" required />
        </p>
      </form>
    </main>
    <h3>The prediction is {{results}}</h3>
  </body>
</html>
